.title {
    @include flexColumn;
    margin-top: 2rem;

    &__first-line {
        font-family: $preName-font;
        font-size: 1.5rem;
        padding-bottom: 5px;
    }

    &__second-line {
        font-family: $name-font;
        color: $name-color;
        text-transform: uppercase;
    }

    @include mq(320px) {
        font-size: .8rem;
    }
}