%flex {
  display: flex;
  align-items: center;
}

@mixin flexCenter {
  @extend %flex;
  justify-content: center;

}

@mixin flexColumn {
  @extend %flex;
  flex-direction: column;
}

@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}