$background-color: rgb(14, 16, 15);
$name-color: rgb(255, 213, 96);
$preName-color: rgb(227, 228, 230);
$link-color: rgb(255, 213, 96);
$link-markdown: rgb(89, 77, 139);
$red-color: rgb(238, 66, 102);
$radioText-color: rgb(112, 112, 112);
$radioInput-color: rgb(0, 117, 255);

$main-font: 'Roboto',
sans-serif;
$name-font: 'Josefin Sans',
sans-serif;
$preName-font: 'Caveat',
cursive;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 1ch;
    background-color: $background-color;
    color: rgb(255, 255, 255);
    font-size: clamp(1rem, calc(0.5714rem + 1.9048vw), 1.5rem);
    font-family: $main-font;

}

// .menu__list {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     list-style: none;
// }