$background-color: rgb(14, 16, 15);
$name-color: rgb(255, 213, 96);
$preName-color: rgb(227, 228, 230);
$link-color: rgb(255, 213, 96);
$link-markdown: rgb(89, 77, 139);
$red-color: rgb(238, 66, 102);
$radioText-color: rgb(112, 112, 112);
$radioInput-color: rgb(0, 117, 255);

$main-font: 'Roboto',
sans-serif;
$name-font: 'Josefin Sans',
sans-serif;
$preName-font: 'Caveat',
cursive;






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: $background-color;
    width: 100vw;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: $main-font;
}


.menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.main {
    display: grid;

}